.buttons, .center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
}

.oneBtn {
  margin-right: 2em;
}

.time {
  margin-top: 2em;
  font-size: 50px;
  margin-bottom: 3em;
}
