.buttons, .center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
}

.oneBtn {
  margin-right: 2em;
}

.time {
  margin-top: 2em;
  font-size: 50px;
  margin-bottom: 3em;
}

.sell {
  color: rgb(181, 9, 9);
  font-size: 30px;
}

.buy {
  color: rgb(12, 116, 12);
  font-size: 30px;
}
